/* General styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 21px;
}

h1, h2, h3, p {
    margin: 0;
}

/* Header styles */
#header {
    background: #333 url(images/headerbkgd.png) left bottom no-repeat;
    color: #fff;
    padding: 45px 15px 15px;
    text-align: center;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 0 auto;
    min-height: 130px;
    width: 870px;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

/* Navigation styles */
ul.navigation {
    list-style: none;
    margin-top: 20px;
}

ul.navigation li {
    display: inline-block;
    margin: 0 3px 5px;
}

ul.navigation li a {
    background: #4a4a4a;
    color: #fff;
    border-radius: 2px;
    border: 1px solid #595959;
    padding: 3px 10px;
    text-decoration: none;
}

/* Content styles */
.content {
    margin: 15px auto;
    width: 900px;
}

/* Sidebar styles */
.col-right {
    float: right;
    width: 660px;
}

.sidebar-left {
    float: left;
    padding: 0 10px;
    width: 200px;
}

.list {
    border-bottom: 1px solid #c3dce1;
    padding: 0 0 20px 15px;
}

.list li {
    margin-bottom: 10px;
}

.list li a {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    color: #445e64;
}

/* Footer styles */
#footer {
    background-color: #c4d5d9;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    width: 900px;
}

/* Media queries for mobile responsiveness */
@media only screen and (max-width: 600px) {
    body {
        font-size: 12px;
    }
    #header {
        padding: 30px 10px 10px;
        min-height: auto;
    }
    .content, .col-right, .sidebar-left, #footer {
        width: auto;
        margin: 10px;
        float: none;
    }
    .col-right, .sidebar-left {
        width: auto;
        padding: 0;
    }
    .float-left, .float-right {
        float: none;
        margin: 0;
    }
    .float-right img {
        margin: 0;
    }
    .clear::after {
        content: "";
        display: table;
        clear: both;
    }
}
